* {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    max-width: 1200px;
    width: 90%;
  
    
}
 img {
     width: 200px;
     padding: 20px 20px 20px 20px;
     position: relative;
 }
 header {
    display: flex;
    justify-content: center;
    align-items: center;
   

 }
 h1 {
     display: block;
 }
 section {
     margin: 20px;
     background-color: #fdfbf9;
 }
 .code {

     background-color: rgb(245, 245, 241);
     max-width: 900px;
     font-size: 5px;
     margin-right: 50px;
     padding: 0;
 }